/* button */

.rocketbar__button {
    border-width: 0;
}
.rocketbar__button:hover,
.rocketbar__button:focus,
.rocketbar__button:active {
    background: rgba(0, 0, 0, 0.01);
}
.rocketbar__button:active {
    transition-duration: 0.3s;
}
.rocketbar__button:active StIcon {
    icon-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

/* tooltip */

.rocketbar__tooltip {
    padding: 3px;
}
.rocketbar__tooltip
.dash-label {
    text-align: left;
    border-radius: 1em;
    padding: 0;
}
.rocketbar__tooltip
.rocketbar__tooltip_layout {
    padding: 0.4em 0.75em;
}
.rocketbar__tooltip
.rocketbar__tooltip_window-title {
    font-weight: bold;
    margin-bottom: 0.25em;
}
.rocketbar__tooltip
.rocketbar__tooltip_app-status {
    margin-top: 0.25em;
    spacing: 0.5em;
}
.rocketbar__tooltip
.rocketbar__tooltip_app-status_item {
    border-radius: 1em;
    padding: 0.25em 0.5em;
    transition-duration: 0.2s;
    background-color: rgba(128, 128, 128, 0.2);
}
.rocketbar__tooltip
.rocketbar__tooltip_app-status_item:hover {
    background-color: rgba(128, 128, 128, 0.3);
}
.rocketbar__tooltip
.rocketbar__tooltip_app-status_item StIcon {
    icon-size: 1em;
}
.rocketbar__tooltip
.rocketbar__tooltip_app-status_item StLabel {
    margin-left: 0.3em;
    font-size: 0.85em;
}

/* window preview */

.rocketbar__window-preview {
    border-radius: 8px;
    padding: 12px;
    padding-top: 6px;
    transition-duration: 0.1s;
}
.rocketbar__window-preview:focus {
    background-color: rgba(255, 255, 255, 0.1);
}
.rocketbar__window-preview:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.rocketbar__window-preview StLabel {
    margin-bottom: 3px;
}

/* popup menu */

.rocketbar__popup-menu {
    /* shrink menu width as much as possible */
    max-width: 0em;
    min-width: 20em;
}
.rocketbar__popup-menu
.popup-separator-menu-item {
    font-size: 0.9em;
}
.rocketbar__popup-menu
.popup-sub-menu
.popup-menu-item:insensitive {
    color: rgba(255, 255, 255, 0.5);
}

/* date menu */

.rocketbar__date-menu {
    -natural-hpadding: 0;
    -minimum-hpadding: 0;
}

/* notification badge */

.rocketbar__notification-badge {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    text-align: center;
}

/* notification counter */

.rocketbar__notification-counter {
    font-weight: bold;
    text-align: center;
}
.rocketbar__notification-counter:transition {
    transition-duration: 0.3s;
}

/* tweak: overview kill dash */

.rocketbar__tweak_overview-kill-dash {
    margin: 0;
}
